@using MapProject.Web.Controllers;

@*@{
    string firstRegon = String.IsNullOrEmpty(.FirstRegionId) ? Model.FirstRegionId : Model.FirstRegionName;
    string secondRegon = String.IsNullOrEmpty(Model.SecondRegionName) ? Model.SecondRegionId : Model.SecondRegionName;
}*@

<div class="alert alert-primary">

    <p>First region: @MapContext.FirstRegionId</p>

    <p>Second region: @MapContext.SecondRegionId</p>

</div>