@using MapProject.Web.Controllers;

@*@{
    string firstRegon = String.IsNullOrEmpty(.FirstRegionId) ? Model.FirstRegionId : Model.FirstRegionName;
    string secondRegon = String.IsNullOrEmpty(Model.SecondRegionName) ? Model.SecondRegionId : Model.SecondRegionName;
}*@

<div class="alert alert-primary">

    <p>Перший регіон - [@MapContext.FirstRegionId]</p>

    <p>Другий регіон - [@MapContext.SecondRegionId]</p>

</div>