@model MapProject.Web.Models.CreateMapModel


    @{
        if (Model == null)
        {
            <form asp-controller="Map" asp-action="CreateMap" method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#createMapsForm">

                <h2>Створити карту</h2>

                <div class="form-group h3">

                        <p><input type="file" name="mapImageFile" /></p>
                    <button type="submit" class="btn btn-primary btn-sm h4">Завантажити файл</button>
                </div>
            </form>

        }
        else
        {

            <form asp-controller="Map" asp-action="ParseMapFromImage" method="post">


                <h4>Створити карту</h4>

                <h5 class="h4">Файл завантажено - @Model.FileName</h5>

                <div class="form-group h4">
                    <input class="form-control" type="text" name="imageFilePath" value="@Model.FilePath" hidden />
                    <button type="submit" class="btn btn-primary btn-sm h3">Обробити карту</button>
                </div>
            </form>
        }
    }
