@model MapProject.Web.Models.CreateMapModel
@{
    ViewData["Title"] = "CreateMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="createMapsForm">

    <h1>CreateMap</h1>

    @{
        if (Model == null)
        {
            <form asp-controller="Map" asp-action="CreateMap" method="post" enctype="multipart/form-data">

                <input type="file" name="mapImageFile" />
                <button type="submit">Upload File</button>

            </form>

        }
        else
        {
            <div>File uploaded - @Model.FileName</div>

            <form asp-controller="Map" asp-action="ParseMapFromImage" method="post" enctype="multipart/form-data">

                <input type="text" name="imageFilePath" value="@Model.FilePath" hidden />
                <button type="submit">Parse map</button>

            </form>
        }
    }

    </div>
