@model MapProject.Web.Models.ManageDataSetModel

    <div>

        @{
            if (!String.IsNullOrEmpty(Model.DataSetName))
            {
                <div class="alert alert-primary">Current dataset - <b>@Model.DataSetName</b></div>

                <a class="btn btn-sm btn-primary" href="/Map/CloseDataSet?mapName=@Model.MapName">Close dataset</a>
                <a class="btn btn-sm btn-danger" href="/Map/DeleteDataSet?mapName=@Model.MapName&dataSetName=@Model.DataSetName">Delete dataset</a>
            }
            else
            {

                <div class="alert alert-warning">Dataset is not loaded. Please load or create dataset to see or edit the data associated with the regions</div>

                <div class="row">
                    <div class="col-6">
                        <h5>Load dataset</h5>
                        <form id="createNewDataSetForm" asp-controller="Map" asp-action="LoadDataSet" method="post">

                            <div class="form-group">

                                <select class="form-control" name="dataSetName">
                                    @{
                                        foreach (var dataSet in Model.DataSets)
                                        {

                                            <option>@dataSet</option>
                                        }
                                    }
                                </select>

                                <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />

                            </div>

                            <button class="btn btn-primary btn-sm" type="submit"> Load </button>

                        </form>
                    </div>
                    <div class="col-6">
                        <h5>Create new dataset</h5>
                        <form id="createNewDataSetForm" asp-controller="Map" asp-action="CreateDataSet" method="post">

                            <div class="form-group">

                                <input class="form-control" type="text" name="dataSetName" placeholder="New dataset name here" />
                                <input class="form-control" type="text" name="mapName" value="@Model.MapName" hidden />
                            </div>

                            <button class="btn btn-primary btn-sm" type="submit">Create</button>

                        </form>
                    </div>
                </div>

            }
        }



    </div>