@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RenderMaps</title>
</head>
<body>
    @foreach(string map in Model)
    {
        <a href ="/Map/RenderMap?mapName=@map">@map</a>

    }
</body>
</html>
