@model IEnumerable<string>
@{
    ViewBag.Title = "MapProject - List of maps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row" id="renderMapsLabel">

        @foreach (string map in Model)
        {
            <a href="/Map/RenderMap?mapName=@map">@map</a>

        }

    </div>


