@model MapProject.Web.Models.CopmareRegionsPaneModel

<div class="alert alert-info">

    @{
        if (String.IsNullOrWhiteSpace(Model.FirstRegion) && String.IsNullOrWhiteSpace(Model.SecondRegion))
        {
            <p>Не обрано регіонів для порівняння</p>
        }
        else
        {
            if (!String.IsNullOrWhiteSpace(Model.FirstRegion))
            {
                <p>Перший регіон - [@Model.FirstRegion]</p>
            }

            if (!String.IsNullOrWhiteSpace(Model.SecondRegion))
            {
                <p>Другий регіон - [@Model.SecondRegion]</p>
            }


        }
    }





</div>