
@{
    ViewData["Title"] = "Теорія";


    Layout = "~/Views/Shared/_Layout.cshtml";

}

<head>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="~/css/indexPage.css" rel="stylesheet" />


</head>

<body>
    <h1>Theorie</h1>
    @*<div class="container" style="margin: 50px 100px 0 100px; width: 1900px !important">*@
    <div class="row" style="margin: 50px 20px 0 20px">
        <div class="col-4">
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" style="font-size: 24px" href="#list-item-1">Соціальний добробут</a>
                <a class="list-group-item list-group-item-action" style="font-size: 24px" href="#list-item-2">Населеність України та Дніпропетровської області</a>
                <a class="list-group-item list-group-item-action" style="font-size: 24px" href="#list-item-3">Засоби масової інформації та комунікація</a>
                <a class="list-group-item list-group-item-action" style="font-size: 24px" href="#list-item-4">Екологія та її зв’язок із захворюваністю на COVID-19</a>
                <a class="list-group-item list-group-item-action" style="font-size: 24px" href="#list-item-5">Індекс людського розвитку</a>
                <a class="list-group-item list-group-item-action" style="font-size: 24px" href="#list-item-6">Порівняння Дніпропетровської та Харківської областей</a>
                <a class="list-group-item list-group-item-action" style="font-size: 24px" href="#list-item-7">Порівняння Дніпропетровської та Одеської областей</a>
                <a class="list-group-item list-group-item-action" style="font-size: 24px" href="#list-item-8">Порівняння Дніпропетровської та Львівської областей</a>              
            </div>
        </div>

        <div class="col-8">
            <div id="list-example" class="list-group">
                <div data-spy="scroll" data-target="#list-example" data-offset="0" style="overflow: auto; height:85vh">
                    <h4 id="list-item-1" style="font-size: 36px">Соціальний добробут</h4>
                    <p style="font-size: 24px; margin-bottom: 35px">
                        Соціальний добробут – це найвища соціальна цінність, соціальний ідеал,
                        область соціальної оптимальності, з яким пов’язані життєво важливі інтереси населення
                    </p>

                    <h4 id="list-item-2" style="font-size: 36px">Населеність України та Дніпропетровської області</h4>
                    <p style="font-size: 24px">
                        Населеність є дуже важливим параметром, адже саме населення забезпечує економічну та соціальну  
                        успішність регіону. Не менш актуальним є саме розподіл населення по області, адже це допомагає
                        оптимізувати використання ресурсів та надання послуг у ній.
                    </p>
                    <img src="/assets/img/3.png" style="width: 750px; height: 550px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Карта населення України)</p>
                    <p style="font-size: 24px">
                        Дніпропетровська область, як і місто Дніпро, є наразі одним із найнаселеніших
                        регіонів. Це вмотивовано високим економічним розвитком. Ці обидва аспекти
                        значною мірою впливають і на рівень добробуту населення
                    </p>
                    <img src="/assets/img/4.png" style="width: 1500px; height: 550px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Населеність Дніпропетровської області за старим та новим поділом)</p>
                    <p style="font-size: 24px; margin-bottom: 35px">
                        Відомо, що у 17 липня 2020 рока було прийнято рішення з приводу перерозподілу районів
                        Дніпропетровської області. Це пов’язано з нерівномірною та загалом низькою
                        населеністю регіонів, що призводить до великих витрат на підтримку місцевого
                        самоуправління і т.д. Це рішення можна вважати як і негативним, так і
                        позитивним. З одного богу райони стали економічно більш рівними, а з іншого
                        люди втратили деякі привілеї, які мали через наближення до районного центру.
                    </p>



                    <h4 id="list-item-3" style="font-size: 36px">Засоби масової інформації та комунікація</h4>
                    <p style="font-size: 24px">
                        Наразі доступ до мережі Інтернет виступає як і потужним інформативний
                        ресурс, так і основним способом спілкування. У сучасному світі неможливо
                        уявити навчання чи працю без Інтернету. Саме тому доступ до нього став
                        одним із основних показників соціального добробуту.
                    </p>
                    <img src="/assets/img/5.png" style="width: 750px; height: 550px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Карта доступності мережі Інтернет по областях України)</p>
                    <p style="font-size: 24px; margin-bottom: 35px">
                        За даною картою можна зробити висновок, що області України мають майже однаковий
                        рівень доступності Інтернету, що демонструє непоганий рівень добробуту не тільки
                        у Діпропетровській області, а й по усій Україні.
                    </p>


                    <h4 id="list-item-4" style="font-size: 36px">Екологія та її зв’язок із захворюваністю на COVID-19</h4>
                    <p style="font-size: 24px">
                        На даний момент одним із найважливіших показників добробуту стала
                        екологічна ситуація регіону. Екологія напряму впливає на здоров’я
                        населення та його працездатність. Тому у сучасному світі потрібно
                        на неї звертати особливу увагу. Для дослідження цього показника я
                        буду використовувати інтегральний показник навколишнього середовища,
                        на який впливають стан ґрунту, води та атмосфери.
                    </p>
                    <p style="font-size: 24px">
                        Метою розрахунку є оцінка стану навколишнього середовища (далі – інтегральний показник), що визначається за показниками
                        стану атмосферного повітря, земельних та водних ресурсів через антропогенне навантаження і природний стан екосистем регіонів
                        України. Інтегральний показник є абсолютним і визначається об’єктивними результатами моніторингу стану довкілля в певному
                        регіоні України та не залежить від його місця відносно інших регіонів. Інформаційною базою розрахунку є щорічна державна
                        статистична звітність. Інтегральний показник коливається в діапазоні від 0 до 1: вище значення свідчить про більш
                        сприятливий екологічний стан.
                    </p>
                    <img src="/assets/img/6.png" style="width: 750px; height: 550px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Інтегральний показник навколишнього природного середовища)</p>
                    <p style="font-size: 24px">
                        Щоб найкраще зрозуміти екологічну ситуації Дніпропетровської області, потрібно звернутися до
                        екологічної ситуації в усій Україні: за картою можна побачити, що Дніпропетровська область має один із
                        найнизьких показників, що є наслідком розвинутої промисловості.
                    </p>
                    <p style="font-size: 24px">
                        У 2020 році вірусна хвороба COVID-19 стала одної із найголовніших перешкод для людського прогресу. За багатьма
                        дослідженнями виявлено, що окрім політики самої держави, пов’язаної з пандемією, величезний вплив має екологічна
                        ситуація регіону.
                    </p>
                    <img src="/assets/img/7.png" style="width: 750px; height: 550px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Рівень захворюваності на COVID-19 по областях України)</p>
                    <p style="font-size: 24px; margin-bottom: 35px">
                        Аналізуючи карту можна помітити, що найбільше хворих на 20.11.2020 у областях з невдалою політикою щодо пандемії та
                        найбільш населених регіонах. Але, знаючи, що карантинна політика Дніпропетровщини була досить жорсткою,
                        необхідно відмітити, що захворюваність досить висока. Таким чином можна побачити зв’язок не тільки з
                        густонаселеністю, а й з низьким рівнем екологічного благополуччя.
                    </p>


                    <h4 id="list-item-5" style="font-size: 36px">Індекс людського розвитку</h4>
                    <p style="font-size: 24px">
                        Наразі індекс людського розвитку є одним із найоб’єктивніших показників, що характеризують рівень добробуту
                        регіону. При підрахунку ІЛР враховуються 3 види показників:
                    </p>
                    <ul style="font-size: 24px">
                        <li>
                            Очікувана тривалість життя - оцінює довголіття.
                        </li>
                        <li>
                            Рівень грамотності населення країни (середня кількість років, витрачених на навчання)
                            та очікувана тривалість навчання.
                        </li>
                        <li>
                            Рівень життя, оцінений через ВНД на душу населення за паритетом купівельної спроможності (ПКС) в доларах США.
                        </li>
                    </ul>
                    <p style="font-size: 24px">
                        Для характеристики цього параметра я буду використовувати дані Державної служби статистики України за 2017 рік,
                        за якими можна буде проаналізувати рівень життя у Дніпропетровській області, а також порівняти регіони України.
                    </p>
                    <img src="/assets/img/8.png" style="width: 750px; height: 550px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Індекс людського розвитку по областях України (на окупованих територіях інформація не наявна)</p>
                    <p style="font-size: 24px">
                        За цією картою можна зробити висновок, що Дніпропетровська область не є регіоном досить середнів показником ІЛР. Це пов’язано з
                        порівняно низькою тривалісю життя, що у свою чергу є наслідком дерадуючої соціальної інфраструктури та проблемами з екологією регіону.
                        Але Дніпропетровська область має високий рівень грамотності та одну з найвищих по Україні середніх зарплат.
                    </p>


                    <h4 id="list-item-6" style="font-size: 36px">Порівняння Дніпропетровської та Харківської областей</h4>
                    <img src="/assets/img/9.png" style="width: 1000px; height: 560px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Порівняння Дніпропетровської та Харківської областей)</p>
                    <p style="font-size: 24px">
                        За цими даними  можна зрозуміти, що Дніпропетровська область є значно населенішою, але майже усі інші показники є нижчими. Наприклад, екологічна
                        ситуація майже у два рази гірша, але, через вдалу карантинну поітику, на 20.11.2020 Дніпропетровська область налічує менше хворих на COVID-19.
                        Якщо порівнювати ІЛР, то можна зробити висновок, що він маже рівний. Це пов’язано із схожим розвитком галузей економіки, що за собою несуть схожий
                        рівень грамотності та тривалості життя.
                    </p>


                    <h4 id="list-item-7" style="font-size: 36px">Порівняння Дніпропетровської та Одеської областей</h4>
                    <img src="/assets/img/10.png" style="width: 1000px; height: 560px; margin-bottom: 10px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Порівняння Дніпропетровської та Одеської областей)</p>
                    <p style="font-size: 24px">
                        Порівнюючи Одеську та Дніпропетровську область можна зазначити, що Дніпропетровщина є населенішою. Але за іншими показниками вона програє: розвинуність
                        Інтернет-мережі та екологічна ситуація на Одещині є майже в три рази гірша. Але в Одеській області більше захворівших на COVID-19, що, можливо, є
                        наслідком невдалої карантинної політики. Показник ІЛР є майже рівним, що повїязане з високим економічним розвитком цих регіонів, однаковою тривалістю
                        життя та розвиненою навчальною системою.
                    </p>


                    <h4 id="list-item-8" style="font-size: 36px">Порівняння Дніпропетровської та Львівської областей</h4>
                    <img src="/assets/img/11.png" style="width: 1000px; height: 560px; margin-bottom: 10px" class="rounded mx-auto d-block" />
                    <p class="font-italic" style="font-size: 24px; text-align:center; margin-bottom: 20px">(Порівняння Дніпропетровської та Львівської областей)</p>
                    <p style="font-size: 24px">
                        Аналізуючи дані за Дніпропетровською та Львівською областями, можна зазначити, що Дніпропетровщина є більш населеною, але має значно нижчі показники
                        з доступності Інтернет мережі, екологічної ситуації та ІЛР. Це пов’язано з різними економічини системами регіонів: Днапропетровщина – промислова, а
                        Львівщина в основному адміністративна та туристична. Це такоє значною мірою впливає і на тривалість життя населення. Хворих на COVID-19 значно більше 
                        у Львівській області, що пов’язано з невдалою карантинною політикою регіону.
                    </p>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
